<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.fivestars.mtab.plugin.NFCReader"
    version="0.0.1">
    <name>NFCReaderPlugin</name>
    <description>Cordova plugin to communicate with the ACR122 NFC card reader</description>
    <license>MIT</license>
    <keywords>ACR122, phonegap plugin, android</keywords>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NFCReader">
                <param name="android-package" value="com.fivestars.mtab.plugin.NFCReader"/>
            </feature>
        </config-file>
        <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        <config-file parent="/*" target="res/xml/device_filter.xml">			
			<!-- Vendor ID and product ID for  ACR 122 -->
			<usb-device vendor-id="1839" product-id="8704" />			
    	</config-file>
        <source-file src="src/com/fivestars/mtab/plugin/NFCReader.java" target-dir="src/com/fivestars/mtab/plugin" />
        <source-file src="src/com/fivestars/mtab/plugin/UsbBroadcastReceiver.java" target-dir="src/com/fivestars/mtab/plugin" />
    </platform>
</plugin>